@model ManagementStore.Models.Item_MaterialViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutNguoiDung.cshtml";
}
<style>
    .handpointer {
        color: white;
        cursor: pointer;
    }

    .blue {
        color: yellow;
    }

    #customerTable th div div span:hover {
        color: green;
        cursor: pointer;
    }
</style>
<div style="width:100%; position:relative;border-style: none none double none; border-color: #b4d0e2; margin-top: -5px; height: 30px;">
    <div style="width:90%;">
        <h4 class="box-title cl" style=""><i class="glyphicon glyphicon-list-alt"></i>   <span>Danh sách màu</span></h4>
    </div>
    <div style="position:absolute; top: 1px; right:28px;">
        <a href="@Url.Action("Create")"><i style="font-size:19px;" class="glyphicon glyphicon-edit" title="Thêm mới màu sắc"></i></a>
        <a href="" ng-click="refresh()"><i style="font-size:19px;" class="fa fa-refresh" title="Refresh"></i></a>
    </div>
</div>
<div style="clear:both;"></div>
<div style="margin-top:10px;">
    @using (Html.BeginForm("Index", "Item_Material", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "formItem_Material" }))
    {
        //Search customer
        <div class="form-group">

            <div class="col-md-2 control-label">
                Tên Màu
            </div>
            <div class="col-md-3">
                @Html.TextBoxFor(model => model.Item_MaterialModel.Name, new { @class = "form-control", id = "SearchItem_MaterialName" })
            </div>

            <button type="submit" class="col-md-1 btn btn-success" style="margin-right:10px" onclick="LoadPopupContent()">Tìm kiếm</button>
            <button type="submit" class="col-md-1 btn btn-warning" onclick="ResetValue()">Hủy</button>

        </div>
        <table class="table table-hover table-striped" id="customerTable">
            <tr style="background-color:#02a44f">
                <th id="customername" class="handpointer" style="width:92%">
                    <div style="float:left ; padding-top:7px" onclick="orderHeader('Name')"> Tên màu sắc </div>
                </th>
                <th style="width:8%"></th>
            </tr>

            @foreach (var item in Model.ListItem_MaterialModel)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>

                    <td>
                        <span>
                            <a href="@Url.Action("Update",new { @id = item.Item_Material_ID})">
                                <img src="~/assets/images/action/edit.png" style="width:17px;" />
                            </a>
                        </span>
                        <span>
                            <a href="@Url.Action("Detail",new { @id = item.Item_Material_ID})">
                                <img src="/assets/images/action/iconDetail.png" style="width:19px;" />
                            </a>
                        </span>
                        <span>
                            <a href="#" onclick="DeleteConfirm(@item.Item_Material_ID, '@item.Name')">
                                <img src="/assets/images/action/Delete_Icon.png" style="width:23px;" />
                            </a>
                        </span>
                    </td>

                </tr>
            }

        </table>

        <div class="form-group">
            <div id="pro_pag2" class="col-md-5">
                Số bản ghi
                @Html.DropDownList("pageSize", new SelectList(ViewBag.PageSize, "NumberID", "NumberValue"), new { id = "pagesizelist", onchange = "changeListPage()" })
                @*@Html.DropDownList("pageSize", new SelectList(new Dictionary<string, int> { { "5", 5 }, { "10", 10 }, { "20", 20 }, { "100", 100 } }, "Key", "Value"), new { id = "pagesizelist", onchange = "changeListPage()" })*@
            </div>
            <div class="col-md-5">
                Số trang hiện tại
                @Html.DisplayFor(Model => Model.DisplayPage)
            </div>
            <button id="back" type="submit" class="col-md-1 btn-next" style="margin-right:15px;width:50px;" onclick="Back()">
                <img src="/assets/images/action/prev.png" style="width:18px;" />
            </button>
            <button id="next" type="submit" class="col-md-1 btn-prev" style="width:50px;" onclick="Next()">
                <img src="/assets/images/action/next.png" style="width:18px;" />
            </button>
        </div>
        <div style="display:none">
            @Html.TextBox("pageCurrent", "1")
            <label id="totalPage">@Html.DisplayFor(Model => Model.CountPage)</label>
            @Html.TextBox("column", "customername")
            @Html.TextBox("orderASCorDSC", (string)ViewBag.Order)

        </div>

        <script type="text/javascript">
            function orderHeader(order) {
                $('#column').val(order);
               var order = $('#orderASCorDSC').val();
               if (order == 'increase')
               {
                   $('#orderASCorDSC').val('decrease');
               }
               else
               {
                   $('#orderASCorDSC').val('increase');
               }
                $('#formItem_Material').submit();
            }

            function changeListPage() {
                $('#pageCurrent').val(1);
                $('#formItem_Material').submit();
            }
            // next
            function Next() {
                var b = parseInt($('#pageCurrent').val().toString()) + 1;
                var itotalpage = parseInt($('#totalPage').text());
                $('#pageCurrent').val(b);
                if (itotalpage <= b) {
                    $('#pageCurrent').val(itotalpage);
                }
            }
            function Back() {
                var b = parseInt($('#pageCurrent').val().toString()) - 1;
                if (b == 0) {
                    b = 1;
                }
                $('#pageCurrent').val(b);
            }
            function ResetValue() {
                $('#SearchItem_MaterialName').val(null);
            }

            function DeleteConfirm(id, name) {
                if (id == null) {
                    alert("Không tồn tại mã");
                    return;
                }
                if (confirm("Bạn có muốn xóa" + name))
                    $.ajax({
                        type: 'POST',
                        url: '/Item_Material/Delete?id=' + id,
                        data: JSON.stringify(),
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function (data) {
                            if (data.RESULT == "200") {
                                $('#formItem_Material').submit();
                            }
                            else {
                                alert("Lỗi truy vấn sql");
                            }

                        },
                        error: function () {
                            alert("Không kết nối được csdl");
                        }
                    }).fail(function (response) {
                        alert(response);
                    });

                else
                    return false;
            }
        </script>
    }
</div>